<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chats </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1> Welcome to our Chats </h1>
    <form action="/chats/new">
        <button class="btn"> New Chat </button>
    </form>
    <% for(chat of chats) { %>
        <div class="chats">
            <h3> From: <%= chat.from %></h3>
            <h3> To: <%= chat.to %></h3>
            <p class="msg"> Message: <%= chat.msg %></p>
        </div>
    <% } %>
</body>
</html>