<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New Chat </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>  
    <div class="chats">
        <form action="/chats" method="post">
            <input type="text" name="from" placeholder="Your Name" id="from"> <br>
            <input type="text" name="to" placeholder="Send To" id="to"> <br>
            <textarea name="msg" placeholder="Message" id="msg"></textarea>
            <button class="btn"> Send </button>
        </form>
    </div>
</body>
</html>