.chats {
    background: linear-gradient(135deg, #FCF6BD, #D0F4DE);
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.chats:hover {
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.msg {
    color: #212738;
}

.btn {
    background-color: #3c91e6;
    color: white;
    border: none;

    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;

    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(0px);
}

.edit {
    border: none;
    background-color: none;
    color: #212738;
    font-size: 16px;
    cursor: pointer;
}

.edit-form {
    display: inline-block;
}

.delete-btn {
    background-color: #F9564F;
    color: white;
    border: none;

    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;

    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.delete-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.delete-btn:active {
    transform: translateY(0px);
}